body {
    background-image: url(https://img.freepik.com/foto-gratis/humo-decorativo-sobre-fondo-negro_23-2147611777.jpg?t=st=1729637252~exp=1729640852~hmac=714e449c5ede3ff5b633e60472086c8cdb22252ee23ce1775b0b31c05c3581c9&w=900);
    background-size: cover;
    color:aliceblue;
}
